<body >
    <div class=" d-flex flex-coloumn justify-content-center align-items-center vh-100">
        <form action="/submit" method="post" class="p-4  justify-content-center rounded shadow w-50">
         <div class="col-12 ">
            <label  class="form-label">Title</label>
            <input name="title" type="text" class="form-control" placeholder="Title of blog">
          </div>
          <div class="col-12 ">
            <label  class="form-label mt-2">Description</label>
            <textarea name="description" type="text" class="form-control height-full" rows="10" placeholder="Description of blog"></textarea>
          </div>
          <button type="submit" class="mt-2 btn btn-success">Click to Post</button>
        </form>

        
    </div>
</body>